$element-height: 500px;

.horizantal-centering{
  margin: auto;
  margin: auto;
  display:block;
}


input{
  max-width: 500px;
}

#purchase-order-form{
  @extend .horizantal-centering;
  height: $element-height;
  margin-top: 5%;
}


#product-image{
  @extend .horizantal-centering;
  height: $element-height;
}

.row{
  margin: 5%;
  height: $element-height;
}
