$element-height: 500px;

.horizantal-centering{
  margin: auto;
  margin: auto;
  display:block;
}

.background-color{
  background: red;
}


.text-color{
  color: white;
}

.border-color{
  border-color: white;
}

body{
  @extend .background-color;
  @extend .text-color;

}

.form-control{
  @extend .horizantal-centering;
  @extend .background-color;
  @extend .border-color;
  @extend .text-color;
  max-width: 500px;
  border-style: solid;
  border-width: 5px;
}

#purchase-order-form{
  @extend .horizantal-centering;

  margin-top: 5%;
}


#product-image{
  @extend .horizantal-centering;
  height: $element-height;
}


.row{
  margin: 5%;
  height: $element-height;
}

.table th, .table td {
     border-top: none !important;
 }
